/* Main - Seção About */
.about-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}

.about-txt h2 {
    margin-bottom: 1.5rem;
}

.about-btn {
    margin-block: 1rem;
}

.about-img {
    background: url('../../img/pink-heart-fork-knife.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 8rem;
    height: 8rem;
    animation: spin-about 15s linear infinite;
}

@keyframes spin-about {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Main - Seção About - Seção Info */
.info-container {
    padding: 2rem 4rem;
    margin-block: 3rem;
    background: var(--bs-secondary);
    border-radius: 25px;
}

.info-video {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}